<div mat-dialog-title class="font-semibold flex items-center">Formulário</div>

<mat-dialog-content>
  <form [formGroup]="form" class="gap-2 h-full">
    <div class="pt-2 px-4">
      <mat-form-field class="w-full">
        <mat-label>Informação</mat-label>
        <input matInput type="text" formControlName="nome" />
      </mat-form-field>
    </div>
    <div class="pt-2 px-4">
      <mat-form-field class="w-50">
        <mat-label>Data Localizado</mat-label>
        <input formControlName="data" matInput [matDatepicker]="dp" />
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="pt-2 px-4">
      <button
        mat-raised-button
        color="green"
        (click)="fileInput.click()"
        class="ml-auto !bg-green-500"
      >
        <mat-icon [ngStyle]="{ color: 'white' }">cloud_upload</mat-icon>
        <div class="text-white">Enviar Imagem</div>
      </button>
      <input
        #fileInput
        type="file"
        (change)="onFilesSelected($event)"
        style="display: none"
        accept="image/*"
        multiple
      />
    </div>
    <div class="pt-2 px-4">
      <div *ngIf="savedImages.length">
        <h3>Imagens Salvas:</h3>
        <div class="flex flex-wrap gap-2">
          <div *ngFor="let image of savedImages; let i = index">
            <img [src]="image" alt="Imagem {{ i + 1 }}" width="200" />
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions class="flex w-full justify-between">
  <button mat-raised-button (click)="onClose()" class="ml-auto">Fechar</button>
  <button mat-raised-button (click)="onSend()" class="ml-auto !bg-green-500">
    <div class="text-white">Enviar</div>
  </button>
</div>
