<div
  class="w-full poppins-regular"
  style="text-align: -webkit-center !important"
>
  <div class="bg-gray-700 text-white self-center">
    <div class="max-w-7/10 mb-4 flex p-5 justify-between w-full">
      <div class="flex gap-3">
        <img
          class="mr-2 size-7 mt-1 font-bold self-center"
          src="src/assets/image/brasao.png"
          alt=""
        />
        <span class="text-xl w-60 self-center">
          Polícia Judiciária Civil Estado de Mato Grosso
        </span>
      </div>

      <span class="text-3xl self-center"> Desaparecidos </span>
    </div>
  </div>
  <div class="max-w-7/10">
    <router-outlet></router-outlet>
  </div>
</div>
