<div class="flex flex-row justify-evenly py-3 pb-5">
  <div class="text-xl">
    Desaparecidos: {{ LocalizadosDesaparecidos.quantPessoasDesaparecidas }}
  </div>
  <div class="text-xl">
    Localizados: {{ LocalizadosDesaparecidos.quantPessoasEncontradas }}
  </div>
</div>
<hr class="pb-5" />
<div class="flex flex-row">
  <div class="w-3/12 rounded-t-lg">
    <div
      class="bg-gray-600 text-white py-2 text-2xl rounded-t-lg justify-normal"
    >
      Consulta
    </div>
    <form [formGroup]="form" class="bg-gray-200 gap-2 h-full">
      <div class="pt-2 px-4">
        <p class="text-left">Nome</p>
        <mat-form-field class="w-full" appearance="outline">
          <input
            matInput
            type="text"
            formControlName="nome"
            class="border rounded-t-lg"
          />
        </mat-form-field>
      </div>

      <div class="px-4">
        <p class="text-left">Faixa Etária</p>
        <mat-form-field class="w-full" appearance="outline">
          <input
            matInput
            type="number"
            formControlName="faixaIdadeInicial"
            min="0"
            class="border rounded-t-lg"
            placeholder="Idade Mínima"
          />
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <input
            matInput
            type="number"
            formControlName="faixaIdadeFinal"
            min="0"
            class="border rounded-t-lg"
            placeholder="Idade Máxima"
          />
        </mat-form-field>
      </div>

      <div class="px-4">
        <p class="text-left">Sexo</p>
        <mat-radio-group
          aria-label="Select an option"
          class="flex flex-col text-start"
          formControlName="sexo"
        >
          <mat-radio-button value="1">Masculino</mat-radio-button>
          <mat-radio-button value="2">Feminino</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="px-4 mt-2">
        <p class="text-left">Status</p>
        <mat-radio-group
          aria-label="Select an option"
          class="flex flex-col text-start"
          formControlName="status"
        >
          <mat-radio-button value="1">Desaparecido</mat-radio-button>
          <mat-radio-button value="2">Localizado</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="flex flex-col w-50 gap-3 mt-6">
        <button mat-raised-button (click)="consultarDesaparecidos()">
          <mat-icon class="size-10">search</mat-icon>
          Consultar
        </button>

        <button style="color: red !important" mat-raised-button>
          <mat-icon color="warn">close</mat-icon>
          Limpar
        </button>
      </div>
    </form>
  </div>

  <div class="w-9/12 px-2">
    @if(listaPessoas){
    <div class="grid grid-cols-4 gap-3">
      @for(lista of listaPessoas.content; track $index){
      <mat-card
        (click)="abrirDetalhes(lista.id)"
        class="example-card cursor-pointer"
        appearance="outlined"
      >
        <mat-card-header>
          <mat-card-title class="!text-sm !text-left">{{
            lista?.nome
          }}</mat-card-title>
          <mat-card-subtitle class="!text-sm !text-left">
            {{ lista?.idade }} Anos, {{ lista?.sexo }}
          </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ lista?.urlFoto }}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <span class="flex">
            <p class="font-semibold pr-1 text-sm text-left">Data:</p>
            {{
              lista?.ultimaOcorrencia?.dtDesaparecimento
                | date : "dd/MM/yyyy HH:mm:ss"
            }}
          </span>

          <span class="flex">
            <p class="font-semibold pr-1">Local:</p>
            {{ lista?.ultimaOcorrencia?.localDesaparecimentoConcat }}
          </span>
        </mat-card-content>
      </mat-card>
      }
    </div>
    } @else{
    <div class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    }
  </div>
</div>
